<template>
  <div>
       <v-card
    :loading="loading"
    class="mx-auto my-12"
    max-width="300"
    hover
  >
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      height="200"
      src="./../../assets/land.jpg"
    ></v-img>

    <v-card-title>4 plot of land</v-card-title>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <v-rating
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ml-4">
          4.5 (413)
        </div>
      </v-row>

      <div class="my-4 subtitle-1">
        $ 200.99 • Akure, Ondo State
      </div>
      <v-divider class="mx-4"></v-divider>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, consectetur beatae! Ex, accusantium?.</div>
    </v-card-text>

    

  

    

    <v-card-actions>
      <v-btn
        color="deep-purple lighten-2"
        text
        @click="reserve"
        outlined
      >
        Check Now
      </v-btn>
    </v-card-actions>
  </v-card>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>