<template>
  <div>
    <section>
        <p class="text-h5 font-weight-bold text-center mt-6">Find a land</p>
        <v-row class="animate__delay-2s" no-gutters>
            <v-col class="pa-2" cols="12" xs="12" md="4" sm="4" lg="4" xl="4" v-for="i in 3" :key="i.i">
                <Card />
            </v-col>
        </v-row>
        
    </section>
  </div>
</template>

<script>
import Card from './Card'
import 'animate.css'
export default {
components:{
    Card
}
}
</script>

<style>

</style>