<template>
  <div>
    
      <section class="Hero" @load="typeit()">
        <v-row align="center" justify="center" style="height:100vh">
            <div class="pa-7">
              <p id="typeme" class="text-h2 white--text font-weight-bold"></p>
              <p class="white--text text-body" id="typeme2"></p>
              <div v-if="nexthtml==true">
                <transition enter-active-class="">
                <v-row class="animate__animated animate__fadeIn  ">
                  <v-col cols="12" xs="12" sm="6" md="6" xl="6" lg="6">
                    <v-btn class="text-capitalize text-caption mr-1" block x-large to="/category" >Find a land</v-btn>
                  </v-col>
                  <v-col cols="12" xs="12" md="6" sm="6" lg="6" xl="6">
                    <v-btn class="text-capitalize text-caption" block x-large color="white" outlined  >Learn More</v-btn>
                  </v-col>
                  
                  
                  
                  <v-spacer></v-spacer>
                </v-row>
                </transition>               
                 
              </div>
            </div>
        </v-row>
      </section>
     
  </div>
</template>

<script>
import TypeIt from 'typeit'
import 'animate.css'
export default {
  data(){
      return {
        nexthtml:false
      }
  },
  computed:{
    typeit(){
      
      new TypeIt("#typeme",{
      strings:["A land is waiting,Get yours Now"],
      speed:100,
      loop:false,
      html:true,
      afterComplete: async (step, instance) => {
    // Will fire after the entire instance has completed typing.
    // NOTE: If "loop" is enabled, this will never fire.
      setInterval(()=>{
        this.nexthtml=true
      },200)
      
  } 
    }).go()

   new TypeIt("#typeme2",{
      strings:["Get Available lands at your convinience,We’ll help you find a place you’ll love."],
      speed:80,
      loop:false,
      html:true,
      afterComplete: async (step, instance) => {
    // Will fire after the entire instance has completed typing.
    // NOTE: If "loop" is enabled, this will never fire.
      setInterval(()=>{
        this.nexthtml=true
      },200)
      
  } 
    }).go()
    return "hello"
    }
  },
  mounted(){
    this.typeit()
  }
}
</script>

<style>
.Hero{
  height:100vh;
  background:url('./../../assets/land.jpg');
  background-size: cover;
  background-position: fixed;
  box-shadow:inset 0 0 0 2000px rgba(27, 29, 29, 0.486);
}
</style>