<template>
  <div>
     <v-row>
         <v-col cols="12" xs="12" sm="1" md="1" xl="1" lg="1"></v-col>
         <v-col cols="12" xs="12" sm="10" md="10" xl="10" lg="10" >
              <section class="ma-3">
          <p class="text-center text-h4">Find a Land Now</p>
          <p class="text-center text-caption">Its now or never, get a dream land</p>
      </section>
      <section>
          <v-row class="pa-5">
              <v-col cols="12" xs="12" sm="4" md="4" lg="4" xl="4" v-for="i in 9" :key="i.i">
                  <Card />
              </v-col>
          </v-row>
      </section>
         </v-col>
        <v-col cols="12" xs="12" sm="1" md="1" xl="1" lg="1"></v-col>
     </v-row>
  </div>
</template>

<script>
import Card from '../components/HomeStore/Card'
export default {
components:{
    Card
}
}
</script>

<style>

</style>