<template>
  <v-app>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
   <v-app-bar
      color="white"
      app
      flat
      
    >
      <v-app-bar-nav-icon class="d-flex d-sm-none"></v-app-bar-nav-icon>
      <v-spacer class="d-flex d-sm-none"></v-spacer>
      <v-toolbar-title >LandQUATERS</v-toolbar-title>

      <v-spacer></v-spacer>

        <v-btn class="text-capitalize text-caption d-none d-sm-flex" text to="/">Home</v-btn>
        <v-btn class="text-capitalize text-caption d-none d-sm-flex" text to="/category">Categories</v-btn>
        <v-btn class="text-capitalize text-caption d-none d-sm-flex" text>Contact</v-btn>
        <v-spacer></v-spacer>
         <v-btn class="text-capitalize text-caption mr-1 d-none d-sm-flex" rounded color="primary" small>Login</v-btn>
         <v-btn class="text-capitalize text-caption d-none d-sm-flex" rounded outlined color="primary" small>Register</v-btn>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import 'animate.css'
export default {
  name: 'App',

  components: {
    
  },

  data: () => ({
    //
  }),
};
</script>
